<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ZzimMapper">

	<resultMap id="zzimSelectMap" type="zzim">
		<result property="zzimNo" column="ZZIM_NO" jdbcType="NUMERIC" />	
		<result property="festivalNo" column="FESTIVAL_NO" jdbcType="NUMERIC" />
		<result property="userId" column="USER_ID" jdbcType="VARCHAR" />
	</resultMap>
	


	<insert id="addZzim" parameterType="zzim" >
		INSERT INTO ZZIM (
		
		ZZIM_NO,
		USER_ID,
		FESTIVAL_NO
		
		)
		
		VALUES (
		
		SEQ_ZZIM_ZZIM_NO.NEXTVAL,
		<!-- #{userId:VARCHAR}, -->
		#{userId},
		#{festivalNo:NUMERIC}
		
		)
	</insert>
	
	<delete id="deleteZzim" parameterType="zzim" >
		DELETE FROM ZZIM 
		<!-- WHERE USER_ID = #{userId:VARCHAR} -->
		WHERE USER_ID = #{userId}
		AND FESTIVAL_NO = #{festivalNo:NUMERIC}
		
	</delete>
	
	<select id="getZzim" parameterType="zzim" resultMap="zzimSelectMap">
		SELECT * FROM ZZIM
		<!-- WHERE USER_ID = #{userId:VARCHAR} -->
		WHERE USER_ID = #{userId}
		AND FESTIVAL_NO = #{festivalNo:NUMERIC}
	</select>
	
	<select  id="getMyZzimList"  parameterType="map"	resultMap="zzimSelectMap">
		 
		SELECT * FROM 
		(SELECT inner_table.* , ROWNUM AS row_seq
			  	
			FROM	(	SELECT f.festival_no, f.festival_name, f.start_date, f.end_date, 
						f.delete_flag, f.addr,f.area_code,f.read_count, f.reg_date, f.festival_image, z.user_id
						
						FROM festival f,  zzim z
						
						WHERE f.festival_no = z.festival_no
						
						<!-- AND z.user_id = #{userId:VARCHAR}	 -->
						AND z.user_id = #{userId}	
						
						AND f.end_date &gt;= TO_CHAR(SYSDATE, 'yyyymmdd')
						
						AND delete_flag IS NULL
						
						<if test="search.searchCondition!=null">
						
							<!-- 지역검색만  -->					
							<if test="search.searchCondition != '' and search.searchKeyword ==''">
								AND f.area_code = '${search.searchCondition}'
							</if>
							
							<!-- 검색어만 -->
							<if test="search.searchCondition == '' and search.searchKeyword !=''">
								AND f.festival_name like '%${search.searchKeyword}%'
							</if>
							
							<!-- 지역+검색어 -->
							
							<if test="search.searchCondition != '' and search.searchKeyword !=''">
								and f.area_code = '${search.searchCondition}'							
								and f.festival_name like '%${search.searchKeyword}%'
							</if>
							
						</if>
						
							<if test = 'search.arrange==null'>
								order by f.reg_date desc
							</if>
							
							<if test = 'search.arrange==""'>
								order by f.reg_date desc
							</if>
						
							<if test = 'search.arrange=="A"'>
								order by f.festival_name
							</if>
							
							<if test = 'search.arrange=="B"'>
								order by f.read_count desc
							</if>
							
							<if test = 'search.arrange=="C"'>
								order by f.start_date desc
							</if>
							
							<if test = 'search.arrange=="D"'>
								order by f.end_date
							</if>
						) inner_table
						
						
				WHERE ROWNUM &lt;= #{search.endRowNum} )
				WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
		
	
							
							
	 </select>
	
	<select  id="getTotalCountZzim"  parameterType="map"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT f.festival_no, f.festival_name, f.start_date, f.end_date,
						f.delete_flag, f.addr, f.reg_date,f.area_code,f.read_count, f.festival_image ,z.user_id
						
						FROM festival f,  zzim z
						
						WHERE f.festival_no = z.festival_no
						
						<!-- AND z.user_id = #{userId:VARCHAR} -->
						AND z.user_id = #{userId}
						
						AND end_date &gt;= TO_CHAR(SYSDATE, 'yyyymmdd')
						
						AND delete_flag IS NULL
						
						<if test="search.searchCondition != null">
						
								<if test="search.searchCondition != '' and search.searchKeyword =='' ">
						 			and f.area_code = ${search.searchCondition}
								</if>
								
								<if test="search.searchCondition == '' and search.searchKeyword !='' ">
						 			and f.FESTIVAL_NAME like '%${search.searchKeyword}%'
								</if>
								
								<if test="search.searchCondition != '' and search.searchKeyword !='' ">
									and f.area_code = ${search.searchCondition}
						 			and f.FESTIVAL_NAME like '%${search.searchKeyword}%'
								</if>
								
						</if> 
						
						 ) countTable						
						
	 </select>


</mapper>	
			
		
